<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.overseas.gamesdk.demo">

    <!--管理软件包可见性：https://developer.android.com/training/basics/intents/package-visibility?hl=zh-cn-->
    <!--解决当应用targetSdkVersion设置为30及以上，登录和支付出现异常的问题-->
    <!--解决方式一：查询所有应用及与之交互【推荐】-->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <!--解决方式二：查询特点应用及与之交互-->
    <!--    <queries>-->
    <!--        <package android:name="com.nearme.atlas" />&lt;!&ndash;支付功能使用到的包名&ndash;&gt;-->
    <!--        <package android:name="com.finshell.atlas" />&lt;!&ndash;支付功能使用到的包名&ndash;&gt;-->
    <!--        <package android:name="com.oppo.usercenter" />&lt;!&ndash;登录功能使用到的包名&ndash;&gt;-->
    <!--        <package android:name="com.heytap.usercenter" />&lt;!&ndash;登录功能使用到的包名&ndash;&gt;-->
    <!--        <package android:name="com.heytap.vip" />&lt;!&ndash;登录功能使用到的包名&ndash;&gt;-->
    <!--        <package android:name="com.oplus.vip" />&lt;!&ndash;登录功能使用到的包名&ndash;&gt;-->
    <!--    </queries>-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Overseasgamesdkdemo">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--允许oppo手机绘制到耳朵区-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />

        <!-- nearme game sdk config goes here -->
        <!--9.0及以上设备需要-->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!-- 日志开关，发布时候设置为false -->
        <meta-data
            android:name="debug_mode"
            android:value="true" />
        <!-- true:单机游戏   false:网游 -->
        <meta-data
            android:name="is_offline_game"
            android:value="false" />
        <!--appKey，游戏上线时请务必替换成游戏自身的appkey-->
        <meta-data
            android:name="app_key"
            android:value="fc7dc4899c5e4ca19b72dae5878dbb5d" />

        <activity
            android:name="com.nearme.game.sdk.component.proxy.ProxyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:process=":gcsdk"
            android:theme="@style/Theme_Dialog_Custom" />
        <activity
            android:name="com.nearme.game.sdk.component.proxy.ExitActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:process=":gcsdk"
            android:theme="@style/Theme_Dialog_Custom" />

        <service
            android:name="com.nearme.game.sdk.component.proxy.ProxyApiService"
            android:priority="1000"
            android:process=":gcsdk" />
        <receiver
            android:name="com.nearme.game.sdk.component.proxy.ProxyUserCenterOperateReceiver"
            android:exported="true"
            android:process=":gcsdk">
            <intent-filter>
                <action android:name="com.oppo.usercenter.account_login" />
                <action android:name="com.oppo.usercenter.account_logout" />
                <action android:name="com.oppo.usercenter.modify_name" />
                <action android:name="com.usercenter.action.receiver.account_login" />
                <action android:name="com.heytap.usercenter.account_logout" />
            </intent-filter>
        </receiver>
        <!-- nearme game sdk config end -->
    </application>

</manifest>