<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2015-present, Pafka, LLC.
  ~ All rights reserved.
  ~
  ~ This source code is licensed under the BSD-style license found in the
  ~ LICENSE file in the root directory of this source tree. An additional grant
  ~ of patent rights can be found in the PATENTS file in the same directory.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adsfall.huawei">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>

        <meta-data
            android:name="adsfall.application"
            android:value="com.ivy.huawei.HuaweiApplicationFacade" />

        <meta-data
            android:name="adsfall.provider"
            android:value="com.ivy.huawei.HuaweiProviderFacade" />


        <meta-data
            android:name="adsfall.appstore"
            android:value="huawei" />

    </application>
</manifest>
