<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adsfall.taptap">

    <application>
        <meta-data
            android:name="adsfall.application"
            android:value="com.ivy.taptap.TaptapApplicationFacade" />

        <meta-data
            android:name="adsfall.provider"
            android:value="com.ivy.taptap.TaptapProviderFacade" />

    </application>
</manifest>