<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adsfall.samsung">

    <uses-permission android:name="com.samsung.android.iap.permission.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <meta-data
            android:name="adsfall.provider"
            android:value="com.ivy.samsung.SamsungProviderFacade" />

        <meta-data
            android:name="adsfall.appstore"
            android:value="samsung" />

    </application>
</manifest>